body {
  font-family: sans-serif;
  background: #f9faff;
}

.Weather {
  font-family: sans-serif;
  padding: 20px;
  margin: 50px auto;
  border-radius: 20px;
  max-width: 800px;
  background-color: #fff;
  color: #5a6276;
  border: 3px solid #bccef8;
}

h1 {
  color: #aac4ff;
  font-size: 42px;
  padding-top: 29px;
  margin-bottom: 15px;
  line-height: 28px;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  color: #5a6276;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.search-input {
  width: 400px;
  background-color: #fff;
  border-color: #aac4ff;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 10px;
  transition: opacity 150ms ease;
  cursor: pointer;
}

.btn {
  background-color: #aac4ff;
  color: #5a6276;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
  padding: 7px 20px;
  cursor: pointer;
  width: 175px;
}

.imgURL {
  margin-right: 5px;
  margin-bottom: 15px;
  height: 72px;
  width: 70px;
}

.weather-app {
  margin-bottom: 20px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 15px;
  height: 72px;
  width: 70px;
}
